html::-webkit-scrollbar {
	width:0;
}
body{
	background-color: #f9f9f9;
	font-family: "WenQuanYi Zen Hei", "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
a{
	text-decoration: none !important;
	color:#222 !important;
}
button{
	outline: none;
}
.container-fluid{
	padding-top: 20px;
}
header{
	cursor: pointer;
	transition: all ease-in-out 0.5s;
	border-bottom: 1px solid #ccc;
}
header:hover{
	box-shadow: 0 5px 10px -5px;
}
.brand{
	font-size: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0 auto 0;
	max-width: 150px;
	min-width: 100px;
	padding: 10px 10px 5px;
	background-color: #dcdcdc;
}
.brand-image{
	max-width: 100%;
	width: 80px;
	margin: 0 auto 0;
}
.brand h6{
	font-family: "WenQuanYi Zen Hei", "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	margin: 8px 0 0px;
}
header p.small{
	margin-top: -5px;
	padding-bottom: 5px;
	margin-bottom: 0;
}
.head-title{
	float: left;
	width: 100%;
	z-index: 1;
}
.head-navbar{
	float: right;
	width: 90%;
	z-index: 10;
	position: absolute;
}
.head-concat{
	margin-top: 70px;
}
.slide-nav{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 30px 0 10px;
	/* box-shadow: 0 3px 2px 2px #ddd; */
	max-width: 150px;
	min-width: 100px;
	height: 600px;
	margin: 0 auto 0;
	background-color: #eaeaea;
}
.slide-nav li:hover{
	background-color: rgba(102, 102, 102, 1);
	color:#eee;
}
.slide-nav li:hover>a{
	color:#eee !important;
}
.slide-nav li{
	cursor:pointer ;
	transition: all ease-in-out 0.5s;
	padding: 10px 15px;
	font-family: "Source Code Pro", "Consolas", "Courier New", Courier, monospace;
	font-size: 12px;
}
.main{
	/*margin-left: -30px;*/
	padding-top: 20px;
	padding-bottom: 20px;
}
.server-status{
	padding: 10px;
}
.server-status>.table-status{
	background-color: #fafafa;
	padding: 20px;
	border:1px solid transparent;
	border-radius: 5px;
	transition: all ease-in-out 0.3s;
}
.server-status>.table-status:hover{
	background-color: #fff;
	border:1px solid #ccc;
}
.server-status table{
	/*display: none;*/
}
.cards{
	padding: 10px;
}
table tr{
	transition: all ease-in-out 0.5s;
}
.card{
	background-color: #fafafa;
	cursor: pointer;
	border: solid 1px transparent;
	/*box-size:box-sizing;*/
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: all ease-in-out 0.5s;
}
.card:hover{
	background-color: #fff;
	border:1px solid #ccc;
	box-shadow:1px 2px 2px rgba(0,0,0,.1);
}
.card-head{
	border-bottom:1px solid #ccc;
}
.card-body{
	margin-top: 10px;
}
.modal a{
	opacity: 0.7;
	transition: all ease-in-out 0.5s;
	padding: 8px;
	background-color: #eee !important;
	border-radius: 3px;
}
.modal a:hover{
	opacity: 1;
	background-color: #efefef;
	color: #fff !important;
}
.backToTop {
	transition: all ease-in-out 0.5s;
	opacity: 0.7;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 26px;
	line-height: 32px;
	font-family: verdana, arial;
	padding: 5px 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	position: fixed;
	_position: absolute;
	bottom: 100px;
	_bottom: "auto";
	cursor: pointer;
	opacity: .6;
	filter: Alpha(opacity=60);
}
.backToTop:hover{
	opacity: 1;
}
.head-title h3{
	font-family: "WenQuanYi Zen Hei", "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	font-size: 28px !important;
	margin-bottom: 22px;
}
.head-title h6{
	font-size: 16px !important;
	margin-top: 22px;
}
@media screen and (max-width:760px) {
	body {
		min-width: 400px;
	}
	.main{
		margin-left: 0px;
	}
	.head-title h3{
		font-size: 24px !important;
		margin-top: 80px;
		margin-bottom: 12px;
		line-height: 24px;
	}
	.head-title .col-sm-6{
		height:160px;
		text-align: center;
	}
	.backToTop {
		right:10px;
	}
}
@media screen and (min-width: 960px) {
	.main{
		margin-left: -30px;
	}
	.backToTop {
		right: 50px;
	}
}

.withComment .glyphicon {
	cursor: default;
}

.withComment .comment {
	visibility: hidden;
	width: 80px;
	background-color: #eaeaea;
	color: #333;
	text-align: center;
	border-radius: 4px;
	padding: 4px 4px;
	position: absolute;
}

.withComment:hover .comment {
	visibility: visible;
}
