<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>西电开源社区</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel='stylesheet' href='{{ site.baseurl }}/css/main.css' />
	<link rel='stylesheet' href='{{ site.baseurl }}/css/style.css' />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/material.indigo-pink.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/MaterialIcons.css">
</head>
<body>
	<div class="container-fluid">
		<header class="row">
			<div class="col-sm-2 hidden-xs text-center">
				<div class="brand">
					<div class="brand-image">
						<img src="images/logo_small.png" alt="" class="img-responsive img-circle">
					</div>
					<h6>西电开源社区</h6>
					<p class="small">XDLINUX</p>
				</div>
			</div>
			<div class="col-sm-10">
				<div class="head-title">
					<div class="row">
						<div class="col-sm-6">
							<h3>西电开源社区软件源</h3>
							<p>Mirror of Xidian Open Source Community (XDOSC)</p>
						</div>
						<div class="col-sm-6 hidden-xs">
							<ul class="list-unstyled head-concat">
								<li>邮件列表：
									<a href="https://groups.google.com/forum/#!forum/xidian_linux">
										https://groups.google.com/forum/#!forum/xidian_linux
									</a>
								</li>
								<li>联系方式：
									<a href="mailto:feedback@xdlinux.info">
										feedback@xdlinux.info
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="head-navbar hidden-md hidden-lg hidden-sm text-right">
					<ul class="navbar-list list-inline list-unstyled">
						<li><a href="#">Home</a></li>
						<li><a href="#">Wiki</a></li>
						<li><a href="#">Mirrors</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="content row">
			<div class="col-sm-2 hidden-xs text-center">
				<ul class="list-unstyled slide-nav">
					<li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;Wiki</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Mirror</a></li>
				</ul>
			</div>
			<div class="col-sm-10 main">
				<div class="row">
					<div class="col-md-8 server-status">
						<div class="table-status">
							<div class="mdl-spinner mdl-js-spinner is-active"></div>
							<table class="table table-hover">

							</table>
						</div>
					</div>
					<div class="col-md-4 cards">
						{% for post in site.posts %}
						<div class="card" data-url="{{ post.url }}">
							<div class="card-head">
									<h4>{{ post.title }}</h4>
							</div>
							<div class="card-body">
								<p> {{ post.description }} </p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<footer class="text-center">
					<hr>
					<p>Copyright Xidian <a href="http://linux.xidian.edu.cn">Linux</a></p>
				</footer>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="article" tabindex="-1" role="dialog" aria-labelledby="articleModal" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <div class="prevornext">
<!--
				 -->
	        </div>
	      </div>
	      <div class="modal-body">
	        <div class="article-content">
	        </div>
	      </div>
	      <div class="modal-footer">
	        <p class="text-center"></p>
	      </div>
	    </div>
	  </div>
	</div>
    <script src="{{ site.baseurl }}/js/jquery-1.11.3.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/material.min.js"></script>
    <script>
    $(document).ready(function(){
		$(".card").click(function(event) {
			url = $(this).data("url");
			title = $(this).find("h4").text();
			$.get(url,function(data){
				article = $(data);
				title = article[0].innerHTML;
				date = article[2].innerHTML;
				$("div.prevornext").empty();
				if($(article[6]).hasClass('prev')){
					prevurl = article[6].innerHTML;
					$("div.prevornext").append("<span class='prev hidden'>"+prevurl+"</span>");
					$("div.prevornext").append('<a href="#" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>&nbsp');
				}
				if($(article[4]).hasClass('next')){
					nexturl = article[4].innerHTML;
					$("div.prevornext").append("<span class='next hidden'>"+nexturl+"</span>");
					$("div.prevornext").append('<a href="#" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>');
				}else if($(article[4]).hasClass('prev')){
					prevurl = article[4].innerHTML;
					$("div.prevornext").append("<span class='prev hidden'>"+prevurl+"</span>");
					$("div.prevornext").append('<a href="#" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>');
				}
				$("div.article-content").empty();
				$("div.article-content").append("<h4 class='text-center'>"+title+"</h4>");
				$("div.article-content").append(data);
				$("div.modal-footer p").empty();
				$("div.modal-footer p").append(date+" 发布");
				$("#article").modal('show');
			});
		});
		$("div.modal-content").delegate('a.prev','click',function(event){
			if($("div.prevornext").children("span.prev").length){
				url = $("div.prevornext span.prev").text();
				$.get(url,function(data){
					article = $(data);
					title = article[0].innerHTML;
					date = article[2].innerHTML;
					$("div.prevornext").empty();
					if($(article[6]).hasClass('prev')){
						prevurl = article[6].innerHTML;
						$("div.prevornext").append("<span class='prev hidden'>"+prevurl+"</span>");
						$("div.prevornext").append('<a href="javascript:void(0)" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>&nbsp');
					}
					if($(article[4]).hasClass('next')){
						nexturl = article[4].innerHTML;
						$("div.prevornext").append("<span class='next hidden'>"+nexturl+"</span>");
						$("div.prevornext").append('<a href="javascript:void(0)" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>');
					}else if($(article[4]).hasClass('prev')){
						prevurl = article[4].innerHTML;
						$("div.prevornext").append("<span class='prev hidden'>"+prevurl+"</span>");
						$("div.prevornext").append('<a href="javascript:void(0)" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>');
					}
					$("div.article-content").empty();
					$("div.article-content").append("<h4 class='text-center'>"+title+"</h4>");
					$("div.article-content").append(data);
					$("div.modal-footer p").empty();
					$("div.modal-footer p").append(date+" 发布");
				});
			};
		});
		$("div.modal-content").delegate('a.next','click',function(event){
			event.preventDefault();
			if($("div.prevornext").children("span.next").length){
				url = $("div.prevornext span.next").text();
				$.get(url,function(data){
					article = $(data);
					title = article[0].innerHTML;
					date = article[2].innerHTML;
					$("div.prevornext").empty();
					if($(article[6]).hasClass('prev')){
						prevurl = article[6].innerHTML;
						$("div.prevornext").append("<span class='prev hidden'>"+prevurl+"</span>");
						$("div.prevornext").append('<a href="javascript:void(0)" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>&nbsp');
					}
					if($(article[4]).hasClass('next')){
						nexturl = article[4].innerHTML;
						$("div.prevornext").append("<span class='next hidden'>"+nexturl+"</span>");
						$("div.prevornext").append('<a href="javascript:void(0)" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>');
					}else if($(article[4]).hasClass('prev')){
						prevurl = article[4].innerHTML;
						$("div.prevornext").append("<span class='prev hidden'>"+prevurl+"</span>");
						$("div.prevornext").append('<a href="javascript:void(0)" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>');
					}
					$("div.article-content").empty();
					$("div.article-content").append("<h4 class='text-center'>"+title+"</h4>");
					$("div.article-content").append(data);
					$("div.modal-footer p").empty();
					$("div.modal-footer p").append(date+" 发布");
				});
			};
		});
		$.get("{{ site.baseurl }}/js/status.json", function(jsondata) {
			// symbolic link
			$("div .mdl-spinner").hide();
			$(".table").append("<thead><tr><td>Name</td><td>Last Update</td><td>Help</td></tr></thead>");
			data = ""
			for(var item in jsondata){
				if(jsondata[item].exitcode !== 0){
					data += "<tr class='danger'>";
				}else{
					data += "<tr class='success'>";
				}
				data += "<td>"+item+"</td>"+"<td>"+jsondata[item].date+"</td>"+"<td><a href='#' >help</a></td></tr>";
			};
			$(".table").append(data);
			$(".slide-nav").height($(".main").height()-100)
		});
		var backToTopTxt = "▲", backToTopEle = jQuery('<div class="backToTop"></div>').appendTo(jQuery("body")).text(backToTopTxt).attr("title","Back top top").click(function() {
		    jQuery("html, body").animate({ scrollTop: 0 }, 120);
		}), backToTopFun = function() {
			var st = jQuery(document).scrollTop(), winh = jQuery(window).height();
			(st > 200)? backToTopEle.show(): backToTopEle.hide();
			//IE6下的定位
			if (!window.XMLHttpRequest) {
			    backToTopEle.css("top", st + winh - 166);
			}
		};

		backToTopEle.hide();
	    	jQuery(window).bind("scroll", backToTopFun);
		jQuery('div.main a,div.pic a').attr('target', '_blank');
	})
    </script>
</body>
</html>
